---
import "bootstrap/dist/css/bootstrap.min.css";
import "@fontsource/roboto-mono/400.css";
import "@fortawesome/fontawesome-free/css/all.min.css";
import "~/styles/style.css";

import Footer from "~/components/Footer.astro";
import Nav from "~/components/Nav.astro";

import appleTouchIcon from "~/assets/icons/apple-touch-icon.png";
import favicon32 from "~/assets/icons/favicon-32x32.png";
import favicon16 from "~/assets/icons/favicon-16x16.png";

export interface Props {
    title: string;
    description?: string;
    page?: "home" | "resources";
    og?: {
        title?: string;
        image?: string;
    };
}

const { title, description, page, og } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{title}</title>

        <link rel="canonical" href={Astro.url}>
        <link rel="sitemap" href="/sitemap-index.xml">

        <meta name="generator" content={Astro.generator}>
        <meta name="description" content={description}>

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Wheeler Coding Club">
        <meta property="og:url" content={Astro.url}>
        <meta property="og:description" content={description}>
        {og?.title && <meta property="og:title" content={og.title} />}
        {og?.image && <meta property="og:image" content={og.image} />}

        <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src}>
        <link rel="icon" type="image/png" sizes="32x32" href={favicon32.src}>
        <link rel="icon" type="image/png" sizes="16x16" href={favicon16.src}>
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <Nav page={page} />
        <slot />
        <Footer />
    </body>
</html>

<script>
    import { Tooltip } from "bootstrap";

    // initialize all hover tooltips
    document.querySelectorAll("[data-bs-toggle='tooltip']").forEach((el) => {
        new Tooltip(el, {
            trigger: "hover",
        });
    });
</script>
