---
import "bootstrap/dist/css/bootstrap.min.css";
import "@fontsource/roboto-mono/latin-400.css";
import "@fontsource/roboto-mono/latin-700.css";
import "~/styles/style.css";

import Footer from "~/components/Footer.astro";
import Nav from "~/components/Nav.astro";

import appleTouchIcon from "~/assets/icons/apple-touch-icon.png";
import favicon32 from "~/assets/icons/favicon-32x32.png";
import favicon16 from "~/assets/icons/favicon-16x16.png";

export interface Props {
    prefix?: string;
    title?: string;
    description?: string;
    image?: string;
    page?: "home" | "resources";
}

const canonical = new URL(Astro.url.pathname, Astro.site);

const { prefix, title, description, image, page } = Astro.props;

const name = "Wheeler Coding Club";
const pageTitle = title || (prefix && `${prefix} - ${name}`) || name;
const objectTitle = title || prefix || name;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="canonical" href={canonical}>
        <link rel="sitemap" href="/sitemap-index.xml">

        {description && <meta name="description" content={description} />}
        <meta name="generator" content={Astro.generator}>

        <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src}>
        <link rel="icon" type="image/png" sizes="32x32" href={favicon32.src}>
        <link rel="icon" type="image/png" sizes="16x16" href={favicon16.src}>
        <link rel="manifest" href="/site.webmanifest">

        <meta property="og:site_name" content={name}>
        <meta property="og:url" content={canonical}>
        <meta property="og:title" content={objectTitle} />
        {description && <meta property="og:description" content={description} />}
        {image && <meta property="og:image" content={image} />}

        <title>{pageTitle}</title>

        <slot name="head" />
    </head>
    <body>
        <Nav {page} />
        <slot />
        <Footer />
    </body>
</html>
